In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('titanic.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'titanic.csv'

In [8]:
import os
print(os.getcwd())

C:\Users\Admin\Desktop\DE5-M5-C2\Day 3\Submissions Folder\Alex

In [42]:
df = pd.read_csv('C:/Users/Admin/Desktop/titanic.csv')

In [43]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [44]:
# Handle missing values
missing_values = df.isnull().sum()

df['Age'].fillna(df['Age'].median(), inplace=True)
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

df.dropna(subset=['Fare'], inplace=True)

missing_values = df.isnull().sum()
print(missing_values)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [45]:
# Remove duplicates
duplicates = df.duplicated().sum()

df.drop_duplicates(inplace=True)
print(duplicates)

0

In [46]:
# Inspect sex column and standardize

df['Sex'].unique()

df['Sex'] = df['Sex'].str.lower()

df['Sex'].unique()

array(['male', 'female'], dtype=object)

In [47]:
# Handle outliers
def remove_outliers(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    df = df[(df[column] >= lower_bound) & (df[column] <= upper_bound)]
    return df

df = remove_outliers(df, 'Age')
df = remove_outliers(df, 'Fare')

In [48]:
df['Family_Size'] = df['SibSp'] + df['Parch'] + 1

In [49]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Family_Size
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,2
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,1
5,6,0,3,"Moran, Mr. James",male,28.0,0,0,330877,8.4583,NaN,Q,1

In [50]:
from sklearn.preprocessing import LabelEncoder

data = {'Embarked': ['S', 'C', 'Q', 'S', 'C']}
df = pd.DataFrame(data)

# Initialize the LabelEncoder
label_encoder = LabelEncoder()

# Apply label encoding to the "Embarked" column
df['Embarked_numerical'] = label_encoder.fit_transform(df['Embarked'])

print(df)

  Embarked  Embarked_numerical
0        S                   2
1        C                   0
2        Q                   1
3        S                   2
4        C                   0

In [51]:
df.head()

  Embarked  Embarked_numerical
0        S                   2
1        C                   0
2        Q                   1
3        S                   2
4        C                   0

In [52]:
# Converting 'Ticket_Purchase_Date' to datetime
df['Ticket_Purchase_Date'] = pd.to_datetime(df['Ticket_Purchase_Date'])

# Extracting year and month
df['Purchase_Year'] = df['Ticket_Purchase_Date'].dt.year
df['Purchase_Month'] = df['Ticket_Purchase_Date'].dt.month

KeyError: 'Ticket_Purchase_Date'

In [53]:
print(df.columns)

Index(['Embarked', 'Embarked_numerical'], dtype='object')

In [54]:
print(df["Ticket_Purchase_Date"].head())
print(df["Ticket_Purchase_Date"].dtype)

KeyError: 'Ticket_Purchase_Date'

In [55]:
df['Name'] = df['Name'].str.lower().str.strip()

KeyError: 'Name'

In [56]:
def age_category(age):
    if age < 13:
        return 'Child'
    elif age < 18:
        return 'Teen'
    elif age < 60:
        return 'Adult'
    else:
        return 'Senior'

In [57]:
print(df.head(20))

  Embarked  Embarked_numerical
0        S                   2
1        C                   0
2        Q                   1
3        S                   2
4        C                   0

In [58]:
print(df.columns)

Index(['Embarked', 'Embarked_numerical'], dtype='object')

In [59]:
print(df['Embarked'].head(10))
print(df.dtypes)  # Check column data types

0    S
1    C
2    Q
3    S
4    C
Name: Embarked, dtype: object
Embarked              object
Embarked_numerical     int32
dtype: object